<header>
  <nav>
    <div class="nav-logo-container">
      <h1>To-do-list App</h1>
    </div>
    <ul class="nav-links-container">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>
