* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: dimgrey;
  padding: 20px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container li {
  list-style: none;
}

.nav-links-container a {
  color: white;
  text-decoration: none;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.display-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: coral;*/
  width: 60%;
  padding: 20px;
}

.add-task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slategray;
  width: 40%;
  padding: 20px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.form-field input,
select {
  padding: 10px;
  /*background-color: #c5cad0;*/
  border: white;
  border-radius: 8px;
  margin: 10px 0px;
  width: 250px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper button {
  padding: 15px 65px;
  background: transparent;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  /*box-shadow: 3px 3px 5px #47474793;*/
  /*margin-top: 10px;
  margin-bottom: 5px;*/
}

.button-wrapper button:hover {
  background-color: white;
  border: 1px solid white;
  color: black;
  transition-duration: 0.5s;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 25px;
  cursor: pointer;
}
