<section class="main-section">

  <div class="display-task-container">

    <table>
      <tr>
        <th>List Name</th>
        <th>Task Description</th>
        <th>Date</th>
        <th>Completed</th>
      </tr>

      <% for (let i = 0; i < tasks.length; i++) { %>
        <tr>
          <td><%= tasks[i].list_name %></td>
          <td><%= tasks[i].task_description %></td>
          <td><%= tasks[i].task_date.toString().slice(0, 15) %></td>
          <td><%= tasks[i].is_complete %></td>
        </tr>
      <% } %>  
      </tr>

    </table>

  </div>

  <div class="add-task-container">
    <h1>Add task:</h1>
    <form id="add-task-form" method="POST" action="">

      <div class="form-field">
        <label for="task">Task</label>
        <input id="task" name="task" type="text" required>
      </div>
      
      <div class="form-field">
        <label for="list">List</label>
        <select id="list" name="list">
          <option value=1>Personal</option>
          <option value=2>Work</option>
          <option value=3>Study</option>
        </select>
      </div>

      <div class="form-field">
        <label for="date">Date</label>
        <input id="date" name="date" type="date">
      </div>

      <div class="button-wrapper">
        <button type="submit">Add</button>
      </div>
      
    </form>

  </div>
  
</section>
