<h1>To-do list App</h1>

<h2>Your Tasks</h2>

<table>
  <tr>
    <th>List Name</th>
    <th>Task Description</th>
    <th>Date/Time</th>
    <th>Completed</th>
  </tr>

  <% for (let i = 0; i < tasks.length; i++) { %>
    <tr>
      <td><%= tasks[i].list_name %></td>
      <td><%= tasks[i].task_description %></td>
      <td><%= tasks[i].date_time %></td>
      <td><%= tasks[i].is_complete %></td>
    </tr>
  <% } %>  
  </tr>
</table>
