<section class="main-section">

  <div class="display-tasks-container">

    <table>
      <tr>
        <th>List Name</th>
        <th>Task Description</th>
        <th>Date/Time</th>
        <th>Completed</th>
      </tr>

      <% for (let i = 0; i < tasks.length; i++) { %>
        <tr>
          <td><%= tasks[i].list_name %></td>
          <td><%= tasks[i].task_description %></td>
          <td><%= tasks[i].date_time %></td>
          <td><%= tasks[i].is_complete %></td>
        </tr>
      <% } %>  
      </tr>

    </table>

  </div>

  <div class="add-tasks-container">
    <h1>Add task:</h1>

  </div>
  
</section>
